.searchbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .logo {
    z-index: 999;
    font-size: 11.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

  }
  
  .logo-name{
    color: #2196f3;
    background-image: -webkit-linear-gradient(0deg, #2196f3 17%,  #e91e63 100%, #2196f3 100%);
    background-clip: text; 
    -webkit-background-clip: text; 
    text-fill-color: transparent; 
    -webkit-text-fill-color: transparent;
          
        
  }

  .track-name,
  .artist-name {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-right: 10px;
    border-color: #adadad;
    background-color: #d4d4d4;
    color: d4d4d4;
    border-style: inset;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  }
  
  .input-container{
    display: flex;
    flex-direction: row;
  }

  .track-name {
    width: 30%;
  }
  
  .artist-name {
    width: 30%;
  }
  
  button {
    background: #da69ff;
    background-image: -webkit-linear-gradient(top, #da69ff, #584cff);
    background-image: -moz-linear-gradient(top, #da69ff, #584cff);
    background-image: -ms-linear-gradient(top, #da69ff, #584cff);
    background-image: -o-linear-gradient(top, #da69ff, #584cff);
    background-image: linear-gradient(to bottom, #da69ff, #584cff);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  button:hover {
    background: #584cff;
    background-image: -webkit-linear-gradient(top, #584cff, #da69ff);
    background-image: -moz-linear-gradient(top, #584cff, #da69ff);
    background-image: -ms-linear-gradient(top, #584cff, #da69ff);
    background-image: -o-linear-gradient(top, #584cff, #da69ff);
    background-image: linear-gradient(to bottom, #584cff, #da69ff);
    text-decoration: none;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  .song-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  input-container
  .song-selection:active {
    transform: scale(0.98);
  }
  
  .song-selection img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .song-selection h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .lyrics {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    white-space: pre-line;
  }

  .footer{
    max-width: 100vh;
    margin-left: 610px;
    margin-right: 80px;
    color: white;
  }
    .love{
      font-size: 2rem;
      
          color: #c967bf; background-image: -webkit-linear-gradient(0deg, #c967bf 25%, #ba825d 59%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        
    }
  

  /* For devices with a maximum width of 414px (iPhone 14 portrait mode) */
@media only screen and (max-width: 414px) {

  
  .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 5rem;
    margin-bottom: 10px;
  }
  
  .logo-name{
    font-size: 1.5rem;
  }

  .track-name,
  .artist-name {
    width: 100px;
    padding: 10px 20px;
    font-size: 0.2rem;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 8px;
  }
  
  .track-name {
    width: 58%;
  }
  
  .artist-name {
    width: 58%;
  }
  
  button {  
    font-size: 1rem;
    padding: 6px 10px;
    margin-top: 20px;
    margin-right: 8px;
  }
  
  .song-selection {
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
  }
  
  .song-selection img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .song-selection h3 {
    font-size: 1rem;
  }
  
  .lyrics {
    font-size: 1rem;
  }

  .footer{
    color: white;
  }
    .love{
      font-size: 5rem;
      color: #c967bf; background-image: -webkit-linear-gradient(0deg, #c967bf 25%, #ba825d 59%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
    }
}

/* For devices with a maximum width of 768px (iPad mini portrait mode) */
@media only screen and (max-width: 768px) {

  .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .logo {
    font-size: 8rem;
    margin-bottom: 30px;
  }
  
  .logo-name{
    font-size: 3rem;
  }

  .track-name,
  .artist-name {
    width: 100px;
    font-size: 0.8rem;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 11px;
  }
  
  .track-name {
    width: 58%;
  }
  
  .artist-name {
    width: 58%;
  }
  
  button {
    font-size: 1.2rem;
    padding: 6px 20px;
  }
  
  .song-selection {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .song-selection img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .song-selection h3 {
    font-size: 1.2rem;
  }
  
  .lyrics {
    font-size: 1.2rem;
  }

.footer{
  color: white;
}
  .love{
    font-size: 5rem;
    color: #c967bf; background-image: -webkit-linear-gradient(0deg, #c967bf 25%, #ba825d 59%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
  }
}
